body {
  background-image: url(../images/bg-pattern.jpg);
}

/* Desktop navbar */
.desktop-container {
  background-color: #343a40;
  display: flex;
}

.header-desk {
  background-color: #af2929;
  width: 200px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  margin-left: 9.5%;
  padding: 0px;
}

.header-desk > h1 {
  color: #f7f7f9;
  height: 80px;
  line-height: 80px;
}

.nav-desk {
  margin-right: 9.5%;
}

.nav-desk > ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0px;
  margin: 0px;
  height: 80px;
  line-height: 80px;
}

.nav-desk > ul > li {
  display: inline;
  padding: 0 5px;
  margin: 0px;
}

.nav-desk > ul > li > a {
  padding: 0 15px;
  color: #f7f7f9;
}

.nav-desk > ul > li > .current {
  padding: 0 20px;
}

/* Mobile navbar */
.header-mob {
  padding: 15px;
  background-color: #af2929;
  text-align: center;
  line-height: 60px;
  height: 60px;
}

.header-mob > h1 {
  color: #f7f7f9;
}

.nav-mob {
  background: #f7f7f9;
}
.nav-mob > ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.nav-mob > ul > li {
  display: inline;
  padding: 0 5px;
  margin: 0px;
}

.current {
  background: #af292960;
}

/* Navbar media queries */
@media screen and (min-width: 768px) {
  #is-mob {
    display: none;
  }
  #is-desk {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 768px) {
  #is-mob {
    display: unset;
  }
  #is-desk {
    display: none;
  }
}

/* Page title sizing */
.display-3 {
  font-size: 3em;
}

/* Index css */
#profile-pic {
  padding-bottom: 20px;
}

#user-profile {
  padding: 0 30px 0 30px;
}

#passions > ul {
  padding: 0 20% 20% 0;
}

#passions > ul > li {
  background: #f7f7f9;
  padding-left: 0;
}

#inspiration > ul {
  padding: 0 20% 10% 0;
}

#inspiration > ul > li {
  background: #f7f7f9;
  padding-left: 0;
}

#portfolio-imgs > .row > article {
  padding: 30px;
}

#contact > .row > div {
  padding-bottom: 20px;
}
